<!DOCTYPE html>
<html>
<head>
    <title>Subject List</title>
</head>
<body>
    <h1>Subject List</h1>
    <a href="{% url 'subject_create' %}">Add New Subject</a>
    <ul>
        {% for subject in subjects %}
            <li>
                <a href="{% url 'subject_detail' subject.subject_id %}">{{ subject.name }}</a>
                <a href="{% url 'subject_update' subject.subject_id %}">Edit</a>
                <a href="{% url 'subject_delete' subject.subject_id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>