<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    {% if perms.core.add_student %}
        <a href="{% url 'student_create' %}">Add New Student</a>
    {% endif %}
    <ul>
        {% for student in students %}
            <li>
                <a href="{% url 'student_detail' student.student_id %}">{{ student.name }}</a>
                {% if perms.core.change_student %}
                    <a href="{% url 'student_update' student.student_id %}">Edit</a>
                {% endif %}
                {% if perms.core.delete_student %}
                    <a href="{% url 'student_delete' student.student_id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>